<!DOCTYPE html>
<html>

<head>
  <title>vietnamairline</title>
  <!-- CSS only -->
  
  

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      background-image: url('https://cafefcdn.com/zoom/700_438/203337114487263232/2023/1/22/photo1674397633959-16743976342531189671400.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position: relative;
      z-index: 2;
      color: #fff;
    }

    body:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(15, 23, 43, .7);
      z-index: -1;
      opacity: .80;
     
    }
  </style>

</head>

<body>
<nav class="navbar navbar-expand-lg   text-white px-lg-3 py-lg-0 shadow-sm sticky-top" style="background:rgb(1, 15, 32)">
        <div class="container-fluid">
        <img class=" " src="images/Logo.png" alt="Image">
          <a class="navbar-brand me-5 fw-bold fs-4 h-font " style="color:rgb(73, 142, 246)" href="./search">VIETNAM AIRLINE</a>
          <nav class="navbar  navbar-dark p-3 p-lg-0"> 
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            </nav>

          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left:30px">
                <div class="text-header" >
              <li class="nav-item "style="margin-left:10px">
                <a class=" nav-link active text-white fw-bold fs-6 h-font " aria-current="page" href="./search">HOME</a>
              </li>
                </div>
              <p></p>
              
              <div class="text-header">
              <li class="nav-item"style="margin-left:10px">
                <a class="nav-link me-2 text-white fw-bold fs-6 h-font"  href="./services">SERVICES</a>
              </li>
              </div>
              <p></p>
              <div class="text-header">
              <li class="nav-item"style="margin-left:10px">
                <a class="nav-link me-2 text-white fw-bold fs-6 h-font" href="./contact">CONTACT US</a>
              </li>
              </div>
              <p></p>
              <div class="text-header">
              <li class="nav-item"style="margin-left:10px">
                <a class="nav-link me-2 text-white fw-bold fs-6 h-font" href="./about">ABOUT US</a>
              </li>
              </div>
              <p></p>
           
            </ul>
            <div class="d-flex" role="search">
              <a href="" class="btn btn-outline-warning shadow-none me-lg-3 me-2 text-white fw-bold fs-6 h-font">Order</a>
              <a href="./login" class="btn btn-outline-warning shadow-none me-lg-3 me-2 text-white fw-bold fs-6 h-font">Login </a>
              <a href="./register" class="btn btn-outline-warning shadow-none text-white fw-bold fs-6 h-font">Register </a>
            </div>
          </div>
        </div>
      </nav>
        <!-- Header End -->
  

  <div class="my-5 px-4">
    <h2 class="fw-bold h-font text-center text-primary">ABOUT US</h2>

    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-md-5 mb-4 order-lg-1 order-md-1 order-2">
          <h3 class="mb-3 text-primary">Vietnam Airline</h3>
          <p class=" fw-bold fs-8 h-font">
           Vietnam Airlines, Hãng hàng không Quốc gia Việt Nam được thành lập vào tháng 1 năm 1956 khi Cục Hàng không Dân dụng được Chính phủ Việt Nam thành lập, đánh dấu sự ra đời của ngành hàng không dân dụng tại Việt Nam. Khi đó, đội bay rất nhỏ, với 5 chiếc máy bay cánh quạt IL 14, AN 2 và Aero 45… Chuyến bay nội địa đầu tiên bắt đầu từ tháng 9/1956.
          </p>
          <p class=" fw-bold fs-8 h-font">
              Giai đoạn 1976 - 1980 đánh dấu mốc mở rộng và khai thác hiệu quả nhiều đường bay quốc tế đến các nước châu Á như Lào, Campuchia, Trung Quốc, Thái Lan, Philippines, Malaysia, Singapore. Hết thời hạn, hàng không dân dụng Việt Nam trở thành thành viên của Tổ chức Hàng không dân dụng quốc tế (ICAO).
Tháng 4 năm 1993, Hãng hàng không Quốc gia Việt Nam (Vietnam Airlines) chính thức trở thành doanh nghiệp vận tải hàng không quốc doanh. Ngày 27/5/1995, Tổng công ty Hàng không Việt Nam được thành lập trên cơ sở hợp nhất 20 đơn vị kinh doanh dịch vụ hàng không với Tổng công ty Hàng không Việt Nam là doanh nghiệp nòng cốt.
          </p>
          
        </div>
        <div class="col-lg-5 col-md-5 mb-4 order-lg-2 order-md-2 order-1">
          <img src="https://www.vietnamairlinesgiare.vn/wp-content/uploads/2020/01/lan-dau-di-may-bay-vietnamairlines-08012020-1.jpg" class="w-100">
        </div>
      </div>
    </div>


    <h3 class="my-5 fw-bold h-font text-center text-primary">MANAGEMENT TEAM</h3>
    <div class="container px-4">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper mb-5">
          <div class="swiper-slide bg-white text-center overflow-hidden rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH7xy5dy46bwC5bwkvEBvslIY6kgH877PBPZBVnCk-17Q8SHkDwZG1NfWSoDJOWtX-0T0&usqp=CAU" class="w-100">
            <h5 class="mt-2">TỔ BAY</h5>
          </div>
          <div class="swiper-slide bg-white text-center overflow-hidden rounded">
            <img src="https://media.doanhnhantrevietnam.vn/files/content/2022/11/14/vietnam-airlines-1456.jpg" class="w-100">
            <h5 class="mt-2">TIẾP VIÊN</h5>
          </div>
          <div class="swiper-slide bg-white text-center overflow-hidden rounded">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTls3z_Fec2bZSJcxqOZ8x-Qd8ZMqPT6iVKp_wIdhjLrLUad6CC19Xl_CnFzDQLwOe29-o&usqp=CAU" class="w-100">
            <h5 class="mt-2">QUẢN LÝ</h5>
          </div>
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-md-6 mb-4 order-lg-1 order-md-2 order-1">
          <img src="https://i.pinimg.com/564x/47/89/5a/47895ad55c512b28e87db06eef5876cb.jpg" class="w-100">
        </div>
        <div class="col-lg-4 col-md-4 mb-4 order-lg-2 order-md-1 order-2">
          <h3 class="mb-3 text-primary">Golden Lotus Brand</h3>
          <p class=" fw-bold fs-8 h-font">
           Kể từ khi được giới thiệu vào năm 2002, thương hiệu Bông sen vàng của Vietnam Airlines đã đạt được những thành công đáng kể và biểu tượng đặc biệt này đã nhận được sự công nhận và tôn trọng trên toàn thế giới.
            </p>
            <p class=" fw-bold fs-8 h-font">
            Năm 2015, để nâng cao vị thế cạnh tranh của Vietnam Airlines trên thị trường năng động, Vietnam Airlines đã cập nhật và tái khởi động thương hiệu Bông Sen Vàng với những cải tiến quan trọng về cơ sở hạ tầng, khai thác và đội bay. Di sản văn hóa Việt Nam tiếp tục là một chủ đề quan trọng để xác định, tạo sự khác biệt và làm phong phú thêm hình ảnh và nhận diện thương hiệu mới của Vietnam Airlines, và logo hoa sen đóng vai trò là biểu tượng của cam kết hướng tới di sản này.
          </p>
          
        </div>
       
      </div>
    </div>

  </div>
    
    <footer class="footer-distributed bg-dark ">

        <div class="footer-left">
            <img class=" " src="images/Logo.png" alt="Image">
          <a class="navbar-brand me-5 fw-bold fs-4 h-font "  href="index.php">VIETNAM<span>AIRLINE</span></a>
           
            <p class="footer-links">
                <a href="#" class="link-1 fw-bold fs-6 h-font">Home</a>
                
                <a href="#" class=" fw-bold fs-6 h-font">Blog</a>
            
                <a href="#" class=" fw-bold fs-6 h-font">Pricing</a>
            
                <a href="#" class=" fw-bold fs-6 h-font">About</a>
                
                <a href="#" class=" fw-bold fs-6 h-font">Faq</a>
                
                <a href="#"class=" fw-bold fs-6 h-font">Contact</a>
            </p>

            <p class="footer-company-name fw-bold fs-6 h-font">© 2019 Vietnam Airlines JSC</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p class="fw-bold fs-6 h-font"><span class="fw-bold fs-6 h-font">Tổng công ty Hàng không Việt Nam - CTCP. </span> Số 200 Nguyễn Sơn, P.Bồ Đề, Q.Long Biên, Hà Nội.</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p class="fw-bold fs-8 h-font">(+84-24) 38272289</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p class="fw-bold fs-6 h-font"><a href="mailto: Telesales@vietnamairlines.co"> Telesales@vietnamairlines.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about fw-bold fs-6 h-font">
                <span class="fw-bold fs-6 h-font">About the company</span>
                Fly with us. We will always bring you the best flights.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
               
            </div>

        </div>

    </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 40,
      pagination: {
        el: ".swiper-pagination",
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
        },
        640: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 3,
        },
        1024: {
          slidesPerView: 3,
        },
      }
    });
  </script>
</body>

</html>