<!DOCTYPE html>
<html>

<head>
  
  <title>vietnamairlines</title>
  <meta charset="utf-8">


  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

  <style>
    body {
      background-image: url('https://cafefcdn.com/zoom/700_438/203337114487263232/2023/1/22/photo1674397633959-16743976342531189671400.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position: relative;
      z-index: 2;
      color: #fff;
    }

    body:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(15, 23, 43, .7);
      z-index: -1;
      opacity: .70;

    }
  </style>

</head>

<body>

 <nav class="navbar navbar-expand-lg   text-white px-lg-3 py-lg-0 shadow-sm sticky-top" style="background:rgb(1, 15, 32)">
        <div class="container-fluid">
        <img class=" " src="images/Logo.png" alt="Image">
          <a class="navbar-brand me-5 fw-bold fs-4 h-font " style="color:rgb(73, 142, 246)" href="./search">VIETNAM AIRLINE</a>
          <nav class="navbar  navbar-dark p-3 p-lg-0"> 
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            </nav>

          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left:30px">
                <div class="text-header" >
              <li class="nav-item "style="margin-left:10px">
                <a class=" nav-link active text-white fw-bold fs-6 h-font " aria-current="page" href="./search">HOME</a>
              </li>
                </div>
              <p></p>
              
              <div class="text-header">
              <li class="nav-item"style="margin-left:10px">
                <a class="nav-link me-2 text-white fw-bold fs-6 h-font"  href="./services">SERVICES</a>
              </li>
              </div>
              <p></p>
              <div class="text-header">
              <li class="nav-item"style="margin-left:10px">
                <a class="nav-link me-2 text-white fw-bold fs-6 h-font" href="./contact">CONTACT US</a>
              </li>
              </div>
              <p></p>
              <div class="text-header">
              <li class="nav-item"style="margin-left:10px">
                <a class="nav-link me-2 text-white fw-bold fs-6 h-font" href="./about">ABOUT US</a>
              </li>
              </div>
              <p></p>
           
            </ul>
            <div class="d-flex" role="search">
              <a href="" class="btn btn-outline-warning shadow-none me-lg-3 me-2 text-white fw-bold fs-6 h-font">Order</a>
              <a href="./login" class="btn btn-outline-warning shadow-none me-lg-3 me-2 text-white fw-bold fs-6 h-font">Login </a>
              <a href="./register" class="btn btn-outline-warning shadow-none text-white fw-bold fs-6 h-font">Register </a>
            </div>
          </div>
        </div>
      </nav>
        <!-- Header End -->

  <div class="my-5 px-4">
    <h2 class="fw-bold h-font text-center text-primary">OUR SERVICE</h2>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-6 px-5 ">

          <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop " style="background-color:pink">
            <a class="service-item rounded" href="">
              <div class="d-flex align-items-center mb-2">
                <img src="https://www.vietnamairlines.com/~/media/Images/HomeDashboard/icon_bag_actived.png" width="80px">
                <h5 class="m-0 ms-3">Hành lý trả trước</h5>
              </div>
              <p class="text-body mb-0">
               Tổng trọng lượng hành lý xách tay không được vượt quá:
                <p class="text-body mb-0">
                  Hạng Phổ thông: 12kg/26lb 
                  Hạng Phổ thông đặc biệt/hạng Thương gia: 18kg/40lb 
                  
              </p>
              </p>
            </a>
          </div>

        </div>
        <div class="col-lg-4 col-md-6 mb-5 px-5">
          <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
            <a class="service-item rounded" href="">
              <div class="d-flex align-items-center mb-2">
                <img src="https://www.vietnamairlines.com/~/media/Images/HomeDashboard/icon_plane_actived.png" width="80px">
                <h5 class="m-0 ms-3">Nâng hạng & Chọn chỗ</h5>
              </div>
              <p class="text-body mb-0 ">
                Vietnam Airlines cung cấp các lựa chọn chỗ ngồi sau:<br>
                Chỗ ngồi để chân rộng (hàng ghế thoát hiểm)<br>
                Chỗ ngồi phía trên (Gần lối đi/Ở giữa/Gần cửa sổ)<br>
                Chỗ ngồi tiêu chuẩn
                
             
              </p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 px-5 ">
          <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
            <a class="service-item rounded" href="">
              <div class="d-flex align-items-center mb-2">
                <img src="https://www.vietnamairlines.com/~/media/Images/HomeDashboard/icon_hotel_actived.png" width="80px">
                <h5 class="m-0 ms-3">Khách sạn & Tour</h5>
              </div>
              <p class="text-body mb-0">
                 Bạn cũng có thể dễ dàng tìm được khách sạn tại nới bạn đến.
              </p>
            </a>
          </div>

        </div>
        <div class="col-lg-4 col-md-6 mb-5 px-5">
          <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
            <a class="service-item rounded" href="">
              <div class="d-flex align-items-center mb-2">
                <img src="https://www.vietnamairlines.com/~/media/Images/HomeDashboard/icon_shopping_actived.png" width="80px">
                <h5 class="m-0 ms-3">Mua sắm</h5>
              </div>
              <p class="text-body mb-0">
                Shopping với đa dạng thương hiệu.
              </p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 px-5">
          <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
            <a class="service-item rounded" href="">
              <div class="d-flex align-items-center mb-2">
                <img src="https://www.vietnamairlines.com/~/media/Images/HomeDashboard/icon_care_actived.png" width="80px">
                <h5 class="m-0 ms-3">Bảo hiểm</h5>
              </div>
              <p class="text-body mb-0">
                Bảo hiểm chậm/hủy chuyến.<br>
                Bảo hiểm du lịch Tripcare
              </p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 px-5">
          <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
            <a class="service-item rounded" href="">
              <div class="d-flex align-items-center mb-2">
                <img src="https://www.vietnamairlines.com/~/media/Images/HomeDashboard/icon_service_support_actived.png" width="80px">
                <h5 class="m-0 ms-3">Orther Service</h5>
              </div>
              <p class="text-body mb-0">
               Rất nhiều dịch vụ cao cấp đang chờ bạn
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Start -->

    
    
    <footer class="footer-distributed bg-dark ">

        <div class="footer-left">
            <img class=" " src="images/Logo.png" alt="Image">
          <a class="navbar-brand me-5 fw-bold fs-4 h-font "  href="index.php">VIETNAM<span>AIRLINE</span></a>
           
            <p class="footer-links">
                <a href="#" class="link-1 fw-bold fs-6 h-font">Home</a>
                
                <a href="#" class=" fw-bold fs-6 h-font">Blog</a>
            
                <a href="#" class=" fw-bold fs-6 h-font">Pricing</a>
            
                <a href="#" class=" fw-bold fs-6 h-font">About</a>
                
                <a href="#" class=" fw-bold fs-6 h-font">Faq</a>
                
                <a href="#"class=" fw-bold fs-6 h-font">Contact</a>
            </p>

            <p class="footer-company-name fw-bold fs-6 h-font">© 2019 Vietnam Airlines JSC</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p class="fw-bold fs-6 h-font"><span class="fw-bold fs-6 h-font">Tổng công ty Hàng không Việt Nam - CTCP. </span> Số 200 Nguyễn Sơn, P.Bồ Đề, Q.Long Biên, Hà Nội.</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p class="fw-bold fs-8 h-font">(+84-24) 38272289</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p class="fw-bold fs-6 h-font"><a href="mailto: Telesales@vietnamairlines.co"> Telesales@vietnamairlines.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about fw-bold fs-6 h-font">
                <span class="fw-bold fs-6 h-font">About the company</span>
                Fly with us. We will always bring you the best flights.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              
            </div>

        </div>

    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>